<tr id="<%- resource.metadata.guid %>" class="service clickable">
    <td class="linked_entity"><%- resource.entity.name %></td>
    <td><%- resource.entity.service_plan.entity.service.entity.label %> <%- resource.entity.service_plan.entity.service.entity.version %></td>
    <td><%- resource.entity.space.entity.organization.entity.name %>/<%- resource.entity.space.entity.name %></td>
    <td><%- resource.entity.service_bindings.length %></td>
</tr>
